.top-container {
  background-image:url(../images/1.png); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; 
  width:100%;
  color: #FFFFFF
}

video {
  object-fit: cover;
  object-position: center center;
  height: 100vh;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.graphicgallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
 
.gallery__item--1 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;

}

.mid-container {
  background-image:url(../images/2.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-size:cover;
  height: auto;
  width: 100%;
  padding-top: 5vh;
  text-align: center;
  color: #FFFFFF
}

.mid2-container {
  background-image:url(../images/retrov2.png);
  background-position: center center;
  background-repeat: repeat;
  background-size:cover;
  height: 100vh;
  width: 100%;
  padding-top: 5vh;
  text-align: center;
  color: #FFFFFF
}

.stickergallery {
  display:grid;
  padding-top: 3vh;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(2, 8.5vw);
  grid-gap: 1vh;
}

.stickergallery-img {
  width: 100%;
  object-fit: fill;
}

.bot-container {
  background-image:url(../images/LOGOV3background.png);
  background-position: center center;
  background-size: cover;
  padding-top: 4vh;
  text-align: center;
  height: 50vh;
  width: 100%;
  color: #FFFFFF
}

.cover__logo {
    position: sticky;
    top: 40%;
    left: 50%;
    color: #FFFFFF
}

.navbar{
  width:100%;
}

body {
  font-family: 'Roboto', sans-serif;
}