.top-container {
  background-image:url(../images/1.png); 
  background-size: cover;
  height: 800px;
  color: #FFFFFF
}

.mid-container {
  background-image:url(../images/LOGOV3background.png);
  background-size:100%;
  height: 2200px;
  color: #FFFFFF
}

.bot-container {
  background-image:url(../images/2.jpg); 
  background-size: cover;
  height: 800px;
  color: #FFFFFF
}

.cover__logo {
    position: sticky;
    top: 50%;
    left: 50%;
    color: #FFFFFF
}

body {
  font-family: 'Roboto', sans-serif;
}